
.menu {
    background: #4a9aba;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.menu .container {
    text-align: right;
    padding: 20px 20px 0 0;
}

.menu .container  ul {
    padding: 0px;
    margin: 0px;
}

.menu .container li a {
    display: block;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    font-family:  "Domine", "Playfair", Helvetica, Arial, sans-serif; 
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    
}




.menu .container li a::after {
    content: '';
    display: block;
    background: white;
    height: 2px;
    width: 0;
    transition: .3s;
}

.menu .container li a:hover::after, .menu .container li a.active::after {
    width: 100%;
}





.navbar-brand{
	margin-top:-7px;
	z-index: 9999;
	position: absolute;
    left: 10%;
}

.logo {
	display: block;
	width: 130px;
	padding: -15px 5px 0 0;
	text-decoration: none;
	float: left;
}

.intro-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/header.jpg) no-repeat center center;
    background-size: cover;
}

.intro-msg {
    position: relative;
    padding-top: 30%;
    padding-bottom: 20%;
}

.intro-msg > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.divisor {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-msg > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.rede-social {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}


.section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-header {
    margin-bottom: 30px;
    font-family:  "Domine", "Playfair", Helvetica, Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 45px;
    font-weight: 900;
}

.section-divisor {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

p{
	 font-family:  "Domine", "Playfair", Helvetica, Arial, sans-serif;
	 font-size: 30px;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner p {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 1em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
            margin: 0;
		    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
		    font-size: 5em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    background-color: #4a9aba;
}
footer p{
	font-size:15px;
	text-align: center;
	font-family:  "Domine", "Playfair", Helvetica, Arial, sans-serif;
	color: white;

}

@media only screen and (max-width: 768px){
.mobile-btn{
        display:block;
        color:white;
        width:36px;
        height: 36px;
        border-top: 4px solid;
        margin: 20px 20px 0 0;
        float:right;
        position: relative;
        cursor:pointer;
        -webkit-backface-visibility:hidden;
    }

    .mobile-btn::after, .mobile-btn::before{
        content: '';
        display:block;
        height: 4px;
        margin-top: 6px;
        background: currentColor;
        position: relative;
        transition: transform .2s ease;
    }

    .mobile-btn.active{
        border-top-color: transparent;
    }

    .mobile-btn.active::after{
        margin-top:0px;
        top: 2px;
        transform: rotate(45deg);
    }

    .mobile-btn.active::before{
        margin-top: 0px;
        top:6px;
        transform: rotate(135deg);
    }
}